# Database - MongoDB
USERNAME_DB=
PASSWORD_DB=
HOST_DB=
PORT_DB=27017
NAME_DB=ecommerce
AUTH_SOURCE=admin

# UAT Database (override nếu khác)
HOST_DB_UAT=
PORT_DB_UAT=27017
NAME_DB_UAT=

# Server
PORT=3000
HOST=localhost

# Environment (development | production)
NODE_ENV=development

# Production/UAT URL
PRODUCTION_HOST=
UAT_HOST=

# JWT
SECRET_KEY_JWT=
